<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:org/springframework/beans/factory/xml/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context classpath:org/springframework/context/config/spring-context-3.2.xsd">


	<context:property-placeholder location="file:./etc/it.base.config.cfg" />

	<bean id="propertiesService" class="org.prof_itgroup.it_cbr_fourpl.PropertiesServiceImpl" />

	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate" />

	<bean id="jmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate" ref="jndiTemplate" />
		<property name="jndiName" value="#{propertiesService.get('connectionfactory')}" />
		<property name="cache" value="true" />
		<property name="proxyInterface" value="javax.jms.ConnectionFactory" />
	</bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiTemplate" ref="jndiTemplate" />
		<property name="jndiName" value="#{propertiesService.get('datasource')}" />
		<property name="cache" value="true" />
		<property name="proxyInterface" value="javax.sql.DataSource" />
	</bean>

	<bean id="jdbcTemplateBean" class="org.springframework.jdbc.core.JdbcTemplate" lazy-init="false">
		<constructor-arg>
			<ref bean="dataSource" />
		</constructor-arg>
	</bean>


	<bean id="itMessageListener" class="org.prof_itgroup.it_cbr_fourpl.ItMessageListener">
		<constructor-arg index="0" ref="propertiesService" />
		<constructor-arg index="1" ref="jdbcTemplateBean" />
	</bean>

	<bean id="outputContainer" destroy-method="destroy" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="concurrentConsumers" value="1" />
		<property name="destinationName" value="#{propertiesService.get('cbr-daily-topic')}" />
		<property name="pubSubDomain" value="true"/>
		<property name="messageListener" ref="itMessageListener" />
	</bean>

</beans>